html, body{
    margin: 0;
    padding: 0;
    
    
  }

  .header{ 
    font-family: 'Tourney', cursive;
    font-size: 150px;
    text-align: center;
    background-color: black; 
    color: white;
    padding-bottom: 10px;

  

  }
  nav{
    padding-top: 10px;
    width: 100;
    height: 50px;
    background-color: rgb(100, 113, 113);
    border: 0;
    margin: 0;

 }

  .nav_contenedor{

    display: flex;
    justify-content: space-around; 
    margin-top: 0px;
    
  }

  .item{
    list-style: none;
    align-items: center;
    
   

  }

 .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  
} 

   
  a{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    
   
  }

  .container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .container .card{
    width: 330px;
    height: 470px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    
  }

  .container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
  }
  .container .card img{
    width: 330px;
    height: 330px;
  }
  button:hover{
    color: blueviolet;
   
    
  }